page-welcome {
    .bg-image2{
        background-image: url('../assets/img/aku2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
